.page {
  min-height: 100vh; }
  .page.start {
    background-color: #232e56;
    text-align: center;
    padding-top: 100px; }
    .page.start .text1,
    .page.start .text3,
    .page.start .text4,
    .page.start p {
      font-weight: normal;
      color: #fff; }
    .page.start .text2 {
      color: #ffa611;
      font-size: 3em; }
    .page.start p {
      margin: 20px 0 150px 0;
      font-size: 1.5em; }
    .page.start .text1 {
      font-size: 1.5em;
      margin-bottom: 20px; }
    .page.start .text3, .page.start .text4 {
      font-size: 1em; }
    .page.start .text4 {
      margin-bottom: 50px; }

@media all and (min-width: 576px) {
  .page.start {
    text-align: center;
    padding-top: 200px; }
    .page.start .text1 {
      font-size: 2.4em; }
    .page.start .text2 {
      font-size: 5em; }
    .page.start p {
      font-size: 2em;
      margin: 40px 0 110px 0; } }
@media all and (min-width: 768px) {
  .page.start {
    text-align: left; }
    .page.start .container-fluid {
      padding: 0 100px 0 100px; }
    .page.start .text1 {
      font-size: 1.5em; }
    .page.start .text2 {
      font-size: 3.5em; }
    .page.start .text3, .page.start .text4 {
      text-align: right; } }
@media all and (min-width: 992px) {
  .page.start .text1 {
    font-size: 2em; }
  .page.start .text2 {
    font-size: 5em; } }
@media all and (min-width: 1200px) {
  .page.start .text2 {
    font-size: 6em; } }
