* {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.page {
  min-height: 90vh; }
  .page.white {
    background-color: #f7f7f7;
    color: #323232; }
    .page.white .container {
      padding: 40px; }
    .page.white h1 {
      color: #232e56;
      font-size: 1.8em;
      margin-bottom: 20px;
      font-weight: 900; }
    .page.white h3 {
      color: #232e56;
      font-size: 1.3em;
      font-weight: 700;
      margin-bottom: 20px; }
    .page.white .intro {
      font-size: 1.4em;
      font-weight: 300; }
    .page.white .row {
      margin-top: 30px;
      margin-bottom: 30px; }
    .page.white.historic .factbox {
      text-align: center;
      padding: 40px;
      background-color: #232e56;
      color: #fff; }
      .page.white.historic .factbox h1 {
        color: #ffa611; }
    .page.white.newarena ul {
      list-style: none;
      padding: 0; }
  .page.image {
    position: relative;
    background-color: #efefef;
    background-size: cover !important; }
    .page.image .text {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: #232e56;
      color: #fff;
      padding: 20px; }
      .page.image .text h1 {
        color: #ffa611; }
    .page.image.evolving {
      background: url("../images/folder/Page-2-Image-2.jpg") center center no-repeat; }
    .page.image.inclusive {
      background: url("../images/folder/Page-4-Image-6.jpg") top right no-repeat; }
    .page.image.safe {
      background: url("../images/folder/Page-6-Image-8.jpg") top right no-repeat; }
    .page.image.longterm {
      background: url("../images/folder/Page-8-Image-11.jpg") top right no-repeat; }
    .page.image.mo {
      background: url("../images/folder/Page-10-Image-14.jpg") center center no-repeat; }
  .page.start {
    background-color: #232e56;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
    .page.start .row .col-sm-12 {
      padding-top: 3em; }
    .page.start h1 {
      color: #ffa611;
      font-size: 1.8em;
      font-weight: 900;
      margin-bottom: 30px; }
    .page.start h2 {
      font-size: 1.5em; }
    .page.start img {
      width: 100%;
      margin-bottom: 20px; }
    .page.start p {
      font-size: 1.2em;
      font-weight: 300; }
  .page.end {
    background-color: #232e56;
    border-top: solid 1px #232e56;
    color: #fff; }
    .page.end img {
      width: 100%; }
    .page.end h1 {
      color: #ffa611; }
    .page.end .container .row {
      margin-top: 20px; }

footer {
  background-color: #1c2444;
  color: #7c8cc9; }
  footer .col-12 {
    padding: 20px; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: block;
      padding: 0 5px; }
      footer ul li a {
        color: #7c8cc9; }
    footer ul.credits {
      padding-top: 10px;
      font-size: .8em; }
      footer ul.credits li {
        border-right: solid 1px #32417a;
        padding-right: 12px;
        color: #41559e; }
        footer ul.credits li:last-child {
          border-right: none; }

@media all and (min-width: 576px) {
  .page.start {
    text-align: center; }
  .page.image .text {
    left: 25px;
    bottom: 25px;
    right: auto;
    max-width: calc(100% - 200px); }

  footer ul li {
    display: inline-block; } }
@media all and (min-width: 768px) {
  .page.start {
    text-align: left; }
    .page.start h2 {
      font-size: 1em; }
    .page.start h1 {
      font-size: 2.5em; }
    .page.start p {
      font-size: 1em; }
  .page.white h1 {
    font-size: 3em; }
  .page.image .text {
    left: 50px;
    bottom: 50px;
    padding: 30px; } }
@media all and (min-width: 992px) {
  .page.start h2 {
    font-size: 1.5em; }
  .page.start h1 {
    font-size: 3em; }
  .page.start p {
    font-size: 1.5em; }
  .page.white .two-columns {
    column-count: 2; }
  .page.image .text {
    left: 100px;
    bottom: 100px;
    padding: 40px; } }
@media all and (min-width: 1200px) {
  .page.start h2 {
    font-size: 2.5em; }
  .page.start h1 {
    font-size: 5em; }
  .page.start p {
    font-size: 1.5em; } }
